<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天窗口</title>
    <script src="/js/chajian/jquery.js"></script>
    <script src="/js/chat.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <script src="http://10.0.47.77:8080/im/4028838b5ac815e3015ac81645f90000.html"></script>
    <script language="javascript">
        ukefu.config({
            name: "梁志庆",
            id: "lzq",
            url: "http://10.0.47.77/login.html",
            type: 1
        });
    </script>
</head>
<body>
    我是谁，<input type="text" id="userId" /><input type="button" value="连接到服务器" id="linkServer"/><br/>
    你是谁：<input id="toUserId" type="text"><br/>

    <textarea id="contentText" style="width: 220px; height: 70px;"></textarea><br/>
    <input type="button" value="发送" id="submit" style="width: 200px; height: 40px;"/><br>
    <div id="showMsgs">
        <!-- 接受展示收到的消息 -->
    </div>

    <div id="warningMsgDiv" class="el-message el-message--warning" style="top: 20px;z-index: 2001;">
        <i class="el-message__icon el-icon-warning"></i>
        <p class="el-message__content">非涉密系统禁止处理、存储和传输涉密信息</p>
        <i class="el-message__closeBtn el-icon-close" id="closeMsgDiv"></i>
    </div>
</body>
</html>